.nav{
    background-image: url('/src/assets/environment-volunteer-concept-with-persons-holding-boxes-donations.jpg'),linear-gradient(rgba(243, 229, 229, 0.6),rgba(255, 255, 255, 0.95));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /* background-attachment: fixed; */
    
}