nav{
    background-image: url('/src/assets/volunteer-helping-with-donation-box.jpg'),linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}